<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7a7d9a9088c348e49c16239b4c0a5de8 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7a7d9a9088c348e49c16239b4c0a5de8" ></div>
        
</body>
<script>    
    
            var map_7a7d9a9088c348e49c16239b4c0a5de8 = L.map(
                "map_7a7d9a9088c348e49c16239b4c0a5de8",
                {
                    center: [22.141282, -101.002958],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_290d80d0a2c04548afa9ffdf074a1e49 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7a7d9a9088c348e49c16239b4c0a5de8);
        
    
            var marker_b361e8e8193d4fed826c099cfc430070 = L.marker(
                [22.141282, -101.002958],
                {}
            ).addTo(map_7a7d9a9088c348e49c16239b4c0a5de8);
        
    
        var popup_3055a8bfcc00446ba055b038897cf07f = L.popup({"maxWidth": "100%"});

        
            var html_ec1103ef64254cba9ba449ca111b3282 = $(`<div id="html_ec1103ef64254cba9ba449ca111b3282" style="width: 100.0%; height: 100.0%;">Restaurante El Reyecito</div>`)[0];
            popup_3055a8bfcc00446ba055b038897cf07f.setContent(html_ec1103ef64254cba9ba449ca111b3282);
        

        marker_b361e8e8193d4fed826c099cfc430070.bindPopup(popup_3055a8bfcc00446ba055b038897cf07f)
        ;

        
    
    
            marker_b361e8e8193d4fed826c099cfc430070.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_400ed50862be4ccbb54295e8d7c875b5 = L.marker(
                [22.149192000000006, -101.002936],
                {}
            ).addTo(map_7a7d9a9088c348e49c16239b4c0a5de8);
        
    
        var popup_c863fc318b904854bc8046ad967be518 = L.popup({"maxWidth": "100%"});

        
            var html_4ba3e8f23c50467abf1e72740a85622d = $(`<div id="html_4ba3e8f23c50467abf1e72740a85622d" style="width: 100.0%; height: 100.0%;">Sushi Itto</div>`)[0];
            popup_c863fc318b904854bc8046ad967be518.setContent(html_4ba3e8f23c50467abf1e72740a85622d);
        

        marker_400ed50862be4ccbb54295e8d7c875b5.bindPopup(popup_c863fc318b904854bc8046ad967be518)
        ;

        
    
    
            marker_400ed50862be4ccbb54295e8d7c875b5.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_31efef0893664bdeafd0bbbeabecefe2 = L.marker(
                [22.1795169, -100.9584358],
                {}
            ).addTo(map_7a7d9a9088c348e49c16239b4c0a5de8);
        
    
        var popup_2e80170e83b94608b9b579565353e1d4 = L.popup({"maxWidth": "100%"});

        
            var html_31443e5f1d404d1d871da6f4aa455cf6 = $(`<div id="html_31443e5f1d404d1d871da6f4aa455cf6" style="width: 100.0%; height: 100.0%;">Hamburguesas Saul</div>`)[0];
            popup_2e80170e83b94608b9b579565353e1d4.setContent(html_31443e5f1d404d1d871da6f4aa455cf6);
        

        marker_31efef0893664bdeafd0bbbeabecefe2.bindPopup(popup_2e80170e83b94608b9b579565353e1d4)
        ;

        
    
    
            marker_31efef0893664bdeafd0bbbeabecefe2.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5a57d03b645c4a15ba2f5ef32cce53b6 = L.marker(
                [22.1412384, -100.9239252],
                {}
            ).addTo(map_7a7d9a9088c348e49c16239b4c0a5de8);
        
    
        var popup_34a06c2af29a47a6ae5c633d2b350756 = L.popup({"maxWidth": "100%"});

        
            var html_2702a392bac14c56b03bd86bfa781eb0 = $(`<div id="html_2702a392bac14c56b03bd86bfa781eb0" style="width: 100.0%; height: 100.0%;">Dominos Pizza</div>`)[0];
            popup_34a06c2af29a47a6ae5c633d2b350756.setContent(html_2702a392bac14c56b03bd86bfa781eb0);
        

        marker_5a57d03b645c4a15ba2f5ef32cce53b6.bindPopup(popup_34a06c2af29a47a6ae5c633d2b350756)
        ;

        
    
    
            marker_5a57d03b645c4a15ba2f5ef32cce53b6.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_fac6938d2c934092a89c90d8257d127c = L.marker(
                [22.1477379, -100.9906163],
                {}
            ).addTo(map_7a7d9a9088c348e49c16239b4c0a5de8);
        
    
        var popup_d71e4573e2104d7093b922ea94753060 = L.popup({"maxWidth": "100%"});

        
            var html_eb2445f0a8814e86bae0226ee46d94b8 = $(`<div id="html_eb2445f0a8814e86bae0226ee46d94b8" style="width: 100.0%; height: 100.0%;">Cabana Huasteca</div>`)[0];
            popup_d71e4573e2104d7093b922ea94753060.setContent(html_eb2445f0a8814e86bae0226ee46d94b8);
        

        marker_fac6938d2c934092a89c90d8257d127c.bindPopup(popup_d71e4573e2104d7093b922ea94753060)
        ;

        
    
    
            marker_fac6938d2c934092a89c90d8257d127c.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
</script>