<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.4.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_d2d47b41c65140dda39418ddcf1a5b2d {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_d2d47b41c65140dda39418ddcf1a5b2d" ></div>
        
</body>
<script>    
    
            var map_d2d47b41c65140dda39418ddcf1a5b2d = L.map(
                "map_d2d47b41c65140dda39418ddcf1a5b2d",
                {
                    center: [22.140626, -100.915657],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_59cd587e7bbb43859255aa4197c0b125 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_d2d47b41c65140dda39418ddcf1a5b2d);
        
    
            var marker_16515c286579409c8cdaea281131076b = L.marker(
                [22.140626, -100.915657],
                {}
            ).addTo(map_d2d47b41c65140dda39418ddcf1a5b2d);
        
    
        var popup_e8aaaca932bd4c70b8880a78e06b0c49 = L.popup({"maxWidth": "100%"});

        
            var html_72d6d81ac34948f08d87bbcbd64fe273 = $(`<div id="html_72d6d81ac34948f08d87bbcbd64fe273" style="width: 100.0%; height: 100.0%;">Restaurante Y Pescaderia Tampico</div>`)[0];
            popup_e8aaaca932bd4c70b8880a78e06b0c49.setContent(html_72d6d81ac34948f08d87bbcbd64fe273);
        

        marker_16515c286579409c8cdaea281131076b.bindPopup(popup_e8aaaca932bd4c70b8880a78e06b0c49)
        ;

        
    
    
            marker_16515c286579409c8cdaea281131076b.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_7c369d8df5744b8da944b3c7afdbf3c6 = L.marker(
                [22.14161, -100.973142],
                {}
            ).addTo(map_d2d47b41c65140dda39418ddcf1a5b2d);
        
    
        var popup_b1e0ec4b1a2e4aeca8353d1dc32d3197 = L.popup({"maxWidth": "100%"});

        
            var html_d01ddad20ad340c2b4737d1c0ee87bde = $(`<div id="html_d01ddad20ad340c2b4737d1c0ee87bde" style="width: 100.0%; height: 100.0%;">Restaurant El Muladar De Calzada</div>`)[0];
            popup_b1e0ec4b1a2e4aeca8353d1dc32d3197.setContent(html_d01ddad20ad340c2b4737d1c0ee87bde);
        

        marker_7c369d8df5744b8da944b3c7afdbf3c6.bindPopup(popup_b1e0ec4b1a2e4aeca8353d1dc32d3197)
        ;

        
    
    
            marker_7c369d8df5744b8da944b3c7afdbf3c6.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_69169cba24414117ba63c6584cc7b004 = L.marker(
                [22.156724, -100.975556],
                {}
            ).addTo(map_d2d47b41c65140dda39418ddcf1a5b2d);
        
    
        var popup_3b67f60a010a4896bb2642bce8a4c0a6 = L.popup({"maxWidth": "100%"});

        
            var html_a3e96bea02c443638350c713322e374d = $(`<div id="html_a3e96bea02c443638350c713322e374d" style="width: 100.0%; height: 100.0%;">Restaurante Alhondiga</div>`)[0];
            popup_3b67f60a010a4896bb2642bce8a4c0a6.setContent(html_a3e96bea02c443638350c713322e374d);
        

        marker_69169cba24414117ba63c6584cc7b004.bindPopup(popup_3b67f60a010a4896bb2642bce8a4c0a6)
        ;

        
    
    
            marker_69169cba24414117ba63c6584cc7b004.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_dfd330e4d53747f1bd8f3f4b4ad60462 = L.marker(
                [22.1735955, -100.9946027],
                {}
            ).addTo(map_d2d47b41c65140dda39418ddcf1a5b2d);
        
    
        var popup_055ee65a52704c0b97efdebc2d7d7e9b = L.popup({"maxWidth": "100%"});

        
            var html_250154bc4c034846b5623b724cbea857 = $(`<div id="html_250154bc4c034846b5623b724cbea857" style="width: 100.0%; height: 100.0%;">Pizzeria Julios</div>`)[0];
            popup_055ee65a52704c0b97efdebc2d7d7e9b.setContent(html_250154bc4c034846b5623b724cbea857);
        

        marker_dfd330e4d53747f1bd8f3f4b4ad60462.bindPopup(popup_055ee65a52704c0b97efdebc2d7d7e9b)
        ;

        
    
    
            marker_dfd330e4d53747f1bd8f3f4b4ad60462.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_1bbfa57d2970430fb22ad3b2a8f59120 = L.marker(
                [22.1795169, -100.9584358],
                {}
            ).addTo(map_d2d47b41c65140dda39418ddcf1a5b2d);
        
    
        var popup_4816d0ef666947d68647f281dce8513e = L.popup({"maxWidth": "100%"});

        
            var html_b70b8ecaa01e4c3887094c37d15cbb7e = $(`<div id="html_b70b8ecaa01e4c3887094c37d15cbb7e" style="width: 100.0%; height: 100.0%;">Hamburguesas Saul</div>`)[0];
            popup_4816d0ef666947d68647f281dce8513e.setContent(html_b70b8ecaa01e4c3887094c37d15cbb7e);
        

        marker_1bbfa57d2970430fb22ad3b2a8f59120.bindPopup(popup_4816d0ef666947d68647f281dce8513e)
        ;

        
    
    
            marker_1bbfa57d2970430fb22ad3b2a8f59120.bindTooltip(
                `<div>
                     Click For More Info
                 </div>`,
                {"sticky": true}
            );
        
</script>